<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><%= app_name %></a>
  </div>
</nav>
<div class="container">
  <div class="row mt-5">
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title text-center">HITT</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
          <br>
          <ol>
            <li>Exercise 1</li>
            <li>Exercise 1</li>
            <li>Exercise 1</li>
            <li>Exercise 1</li>
            <li>Exercise 1</li>
          </ol>
        </p>
        <div class="text-center mt-3"><a href="<%= schedule_path %>" class="btn btn-primary" type="button">Change</a></div>

        <div class="text-center mt-5">
          <a href="<%= category_path %>" class="btn btn-primary" type="button">Back</a>
          <a href="<%= exercise_path %>" class="btn btn-primary" type="button">Start</a>
        </div>

      </div>
    </div>
  </div>


</div>
